*{
  margin: 0px;
  padding: 0px;
}

nav{
   width: 100%;
   height: 70px;
   background-color: lightblue;
   border-bottom:2px solid black;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

button{
  height: 50px;
  width: 120px;
  border-radius: 35px;
  border: none;
}

.one{
  margin-top: 10px;
  height: 60px;
  width: 100%;
  display:  flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.main{
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.underone{
  height: 500px;
  width: 700px;
  background-color: white;
  background-image: url(https://github.com/AlphaGaurav13/Hack/blob/main/pang-yuhao-_kd5cxwZOK4-unsplash.jpg);
  background-size: cover;
  border-radius: 35px;
}

.undertwo{
  margin-left: 100px;
  height: 500px;
  width: 500px;
  background-color: white;
  background-color: lightblue;
  border-radius: 35px;
  position: relative;
  color: white;
  font-size: small;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100%;
  font-size: large;
  margin-top: 60px;
}
